:root {
  --primaire: rgb(147, 86, 220);
  --secondaire: rgb(255, 121, 218);
  --tertiaire: #99e2d0;
  --primairetransp: rgba(147, 86, 220, 0.1);
  --secondairetransp: rgba(255, 121, 218, 0.1);
  --tertiairedark: #486d64;
  --backgroundcolorprim: #f8f8f8;
  --backgroundcolorsec: #f4f4f4;
}
* {
  width: auto;

  font-family: "Roboto", sans-serif;
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}
.secondepolice {
  font-family: "Shrikhand", sans-serif;
}
h1 {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding: 1.5rem 3.5rem 0.2rem 3.5rem;
}

p {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.2rem 1rem;
}
body {
  margin: 0;
  background-color: var(--backgroundcolorprim);
}
/*header*/
#logo {
  width: 50%;
}
header {
  position: relative;
}
header i {
  font-size: 1.5rem;
  color: rgb(87, 87, 87);
  position: absolute;
  left: 0;
  bottom: 0.5rem;
}
header p {
  text-align: center;
}

/*loading spinner*/
.loading-invisible {
  /*recouvre la page avant de disparaitre*/
  display: none; /* A ENLEVER!!!!!!!!!!!!!!!*/
  width: 100%;
  height: 300%;
  position: absolute;

  z-index: 300;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
i {
  font-size: 1rem;
  color: #99e2d0;
  padding-top: 1rem;
  padding-left: 0.3rem;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading div {
  position: absolute;
  left: 52%;
  top: 8rem;
  animation: loader ease-in-out 1s 4;
  background: #9356dc;
  width: 1.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  transform-origin: 1rem 5.5rem;
}
.loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -2.2s;
  background: #9356dc;
}
.loading div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -2s;
  background: #a556dc;
}
.loading div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -1.9s;
  background: #a556dc;
}
.loading div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -1.5s;
  background: #ce56dc;
}
.loading div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -1.3s;
  background: #e379dc;
}
.loading div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -1.15s;
  background: #e379ff;
}
.loading div:nth-child(7) {
  animation: loader ease-in-out 3.2s 1;
  color: #6ba194;
  font-size: 1.5rem;
  text-align: center;

  background: #99e2d0;
  width: 3rem;
  height: auto;
  padding: 0.5rem 0;
  margin: 4.1rem 0 0 -0.5rem;
}
.loading div:nth-child(8) {
  transform: rotate(180deg);
  animation-delay: -1s;
  background: #ff79fc;
}
.loading div:nth-child(9) {
  transform: rotate(210deg);
  animation-delay: -0.8s;
  background: #ff79da;
}
.loading div:nth-child(10) {
  transform: rotate(240deg);
  animation-delay: -0.7s;
  background: #9356dc;
}
.loading div:nth-child(11) {
  transform: rotate(270deg);
  animation-delay: -0.4s;
  background: #a556dc;
}
.loading div:nth-child(12) {
  transform: rotate(300deg);
  animation-delay: -0.25s;
  background: #a556dc;
}
.loading div:nth-child(13) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #ce56dc;
}
@keyframes invisible {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-invisible {
  animation: invisible 500ms linear forwards;
  animation-delay: 2500ms;
}
/*ACCUEIL*/
/*recherche*/
.accueil {
  max-width: 1020px;
  background-color: var(--backgroundcolorsec);
  padding-bottom: 1rem;
}
.accueil p {
  color: grey;
}
.recherche {
  background-color: #e7e7e7;
  height: 3.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: inset 0 5px 5px #bebebe;
}

input {
  color: black;
  border: none;
  background-color: #e7e7e7;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  line-height: 1.7rem;
  padding: 0.2rem 0 0 1rem;
}

.recherche-icone {
  background-color: #e7e7e7;
  margin-top: 1.1rem;
}
.recherche i {
  font-size: 1.3rem;
  padding-left: 5.5rem;
  color: black;
  line-height: 0;
}
.recherche-champ:hover {
  background-color: #cccccc;
}
/*explorer*/
.bouton {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  margin: 0.5rem 2rem;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    var(--secondaire),
    var(--primaire)
  );
  border-radius: 2rem;
  box-shadow: 5px 5px 5px rgb(184, 183, 183);
}
.bouton:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 121, 218, 0.8),
    rgba(147, 86, 220, 0.8)
  );
  box-shadow: 10px 10px 10px rgb(170, 170, 170);
}
/*FONCTIONNEMENT*/
.aide {
  margin: 0 0.5rem;
  padding-top: 1rem;
}
.aide ul {
  margin-right: 1rem;
}
.aide li {
  max-width: 400px;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: var(--backgroundcolorsec);
  border-radius: 2rem;
  box-shadow: 5px 5px 5px rgb(184, 183, 183);
}
.aide li:hover {
  background-color: var(--primairetransp);
}
.aide li:hover i {
  color: var(--primaire);
}
.aide-num {
  width: 1.7rem;
  height: 1.7rem;
  background-color: var(--primaire);
  border-radius: 1.7rem;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  line-height: 1.7rem;
  position: relative;
  left: -1.5rem;
  bottom: -1.2rem;
}

.aide-texte {
  display: flex;
}
.aide i {
  color: grey;
  font-size: 1.4rem;

  position: relative;
  left: 0.5rem;
  bottom: 1.2rem;
}

.aide-txt {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-bottom: 0.1rem;
  line-height: 1rem;
}
/*RESTAURANTS (liens vers)*/
.liens h2 {
  padding-left: 0.5rem;
}
.liens a {
  color: black;
}

.liens img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  object-position: 0 -4rem;
  border-radius: 1.5rem 1.5rem 0 0;
}
figure {
  max-width: 400px;
  margin: 0.5rem 0;
  position: relative;
}
h3 {
  font-size: 1.1rem;
  font-weight: 900;
  padding-left: 1rem;
}
figure p {
  padding-left: 1rem;
  font-size: 1rem;
  text-align: left;
}
.nouveau {
  width: 4.3rem;
  color: #3a8571;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
  background-color: var(--tertiaire);
  position: absolute;
  top: 0;
  right: 1rem;
}
.liens ul {
  display: block;
  padding: 0;
}
.liens li {
  padding: 1rem;
}

figcaption i {
  text-align: right;
  font-size: 2rem;
  color: grey;
  position: absolute;
  right: 1rem;
  padding-top: 1.2rem;
}

figcaption {
  width: 100%;
  display: flex;
  align-content: space-between;
  line-height: 0.5rem;
  background-color: white;
  position: relative;
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 5px 5px 5px rgb(184, 183, 183);
}

/*remplissage coeur*/

figcaption i {
  -webkit-text-stroke: 2px grey;
  -webkit-text-fill-color: rgb(147, 86, 220, 0);
  cursor: pointer;
}
figcaption i:hover {
  -webkit-animation: coeur 500ms infinite 0ms forwards;
  animation: coeur 500ms ease 0ms forwards;
}
@keyframes coeur {
  from {
    -webkit-text-stroke: 2px grey;
  }
  .1% {
    -webkit-background-clip: text;
    background-color: rgba(255, 121, 218, 0.1);

    -webkit-text-stroke: 1px grey;
  }
  .2% {
    -webkit-background-clip: text;
    background-color: rgba(255, 121, 218, 0.3);

    -webkit-text-stroke: 0px grey;
  }
  .3% {
    -webkit-background-clip: text;
    background-color: rgba(255, 121, 218, 0.5);

    -webkit-text-stroke: 0px grey;
  }
  50% {
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, var(--primaire), white);
    -webkit-text-stroke: 0px grey;
  }
  to {
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to bottom,
      var(--primaire),
      var(--secondaire)
    );
    -webkit-text-stroke: 0px grey;
  }
}

/*footer*/
footer {
  background-color: black;
  padding: 0;
  color: white;
}
footer i {
  color: white;
  padding: 0;
}
footer #iconeréduite i {
  font-size: 0.7rem;
}
footer p {
  text-align: left;
  padding: 1rem 1rem 0rem 1rem;
}
#logo_small {
  width: 30%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
footer li {
  padding: 0.3rem 1rem;
}
footer ul {
  padding: 0rem 0.3rem 2rem 0;
}
/*fiches restaurants*/
:root {
  --primaire: rgb(147, 86, 220);
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --primairetransp: rgba(147, 86, 220, 0.1);
  --secondairetransp: rgba(255, 121, 218, 0.1);
  --tertiairedark: #486d64;
  --backgroundcolorprim: #f8f8f8;
  --backgroundcolorsec: #f4f4f4;
}

.container-fiche {
  background-color: var(--backgroundcolorprim);
}
.fiche-resto_main {
  background-color: var(--backgroundcolorsec);
}
.fiche-resto {
  margin: auto;
  max-width: 500px;
}
.fiche-resto h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.9rem;
  font-weight: 600;
}
h4 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0 0 1rem;
  margin: 0;
}

.fiche-resto img {
  width: 100%;

  object-fit: cover;
}

.fiche-titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fiche-resto figure {
  position: relative;
}
.fiche-resto figcaption {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  border-radius: 2rem 2rem 0 0;
  box-shadow: none;
  background-color: var(--backgroundcolorsec);
}
.trait {
  width: 3rem;
  height: 0.25rem;
  background-color: var(--tertiaire);
  padding: 0;
  margin: 0.4rem 0 0 1rem;
}
.fiche-details,
.fiche-categorie {
  background-color: var(--backgroundcolorsec);
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 500px;
}

.fiche-categorie_entrees {
  opacity: 0;
  animation: apparition 1000ms 200ms forwards;
}
.fiche-details_entrees :nth-child(1) {
  opacity: 0;
  animation: apparition 1s 400ms forwards;
}
.fiche-details_entrees :nth-child(2) {
  opacity: 0;
  animation: apparition 1s 600ms forwards;
}
.fiche-details_entrees :nth-child(3) {
  opacity: 0;
  animation: apparition 1s 800ms forwards;
}
.fiche-details_entrees :nth-child(4) {
  opacity: 0;
  animation: apparition 1s 900ms forwards;
}
.fiche-categorie_plats {
  opacity: 0;
  animation: apparition 1s 1000ms forwards;
}
.fiche-details_plats :nth-child(1) {
  opacity: 0;
  animation: apparition 1s 1200ms forwards;
}
.fiche-details_plats :nth-child(2) {
  opacity: 0;
  animation: apparition 1s 1400ms forwards;
}
.fiche-details_plats :nth-child(3) {
  opacity: 0;
  animation: apparition 1s 1600ms forwards;
}
.fiche-categorie_desserts {
  opacity: 0;
  animation: apparition 1s 1800ms forwards;
}
.fiche-details_desserts :nth-child(1) {
  opacity: 0;
  animation: apparition 1s 2000ms forwards;
}
.fiche-details_desserts :nth-child(2) {
  opacity: 0;
  animation: apparition 1s 2200ms forwards;
}
.fiche-details_desserts :nth-child(3) {
  opacity: 0;
  animation: apparition 1s 2400ms forwards;
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
/*animation coche sélection plat*/
.plat {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
 
  margin: 1rem auto;
  background-color: white;
  padding: 0;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px rgb(173, 173, 173);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.plat-selection {
  position: absolute;
  right: -5rem;
  display: flex;
  flex-direction: row;
}
.tarif {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  padding: 2.2rem 0.5rem 0 0;
  position: absolute;
  right: 5.5rem;
}
.plat-selection i {
  font-size: 2rem;
  color: white;
  position: absolute;
  right: 1.5rem;
  bottom: -3.5rem;
}
.coche {
  background-color: var(--tertiaire);
  border-radius: 0 1rem 1rem 0;
  padding: 2.5rem;
  position: absolute;
  right: 0;
}
.plat-description {
  width: 85%;
  height: 5rem;
  -webkit-animation: shrink 3s ease 1s forwards;
  animation: shrink 3s ease 1s forwards;
}
.plat-description p {
  font-size: 0.9rem;
  margin-top: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
h5 {
  font-size: 1.1rem;
  padding: 1rem 0 0rem 1rem;
  margin: 0rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.plat:hover .plat-selection {
  -webkit-animation: slide 3s ease forwards;
  animation: slide 3s ease forwards;
}
.plat:hover i {
  transform-origin: 1.25rem 1.95rem;
  -webkit-animation: rotationcoche 3s forwards;
  animation: rotationcoche 500ms 1 800ms forwards;
}
@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}
@-webkit-keyframes shrink {
  from {
    width: 20rem;
  }
  to {
    width: 14rem;
  }
}
@keyframes shrink {
  from {
    width: 20rem;
  }
  to {
    width: 14rem;
  }
}

@keyframes rotationcoche {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.fiche-bouton {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  margin: 0.5rem 2rem;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    var(--secondaire),
    var(--primaire)
  );
  border-radius: 2rem;
  box-shadow: 5px 5px 5px rgb(184, 183, 183);
}
.fiche-bouton:hover {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 121, 218, 0.8),
    rgba(147, 86, 220, 0.8)
  );
  box-shadow: 10px 10px 10px rgb(170, 170, 170);
}
/*média tablette et desktop*/
/*/*ECRANS ORDI/*/
@media screen and (min-width: 1021px) {
  /*spinner*/
  .loading div {
    position: absolute;
    left: 50%;
    top: 12rem;
    animation: loader ease-in-out 1s 4;
    background: #9356dc;
    width: 1.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    transform-origin: 1rem 5.5rem;
  }
  .loading div:nth-child(7) {
    animation: loader ease-in-out 3.2s 1;
    color: #6ba194;
    font-size: 1.5rem;
    text-align: center;

    background: #99e2d0;
    width: 3rem;
    height: auto;
    padding: 0.5rem 0;
    margin: 4.2rem 0 0 -0.5rem;
  }

  /*header*/
  #logo {
    width: 38%;
  }
  /*footer*/
  #logo_small {
    width: 10%;
  }
  /*main accueil*/
  .accueil {
    width: 75%;
    margin: auto;
  }
  .recherche i {
    padding-left: 8rem;
  }
  .bouton,
  .fiche-bouton{
    font-size: 1.1rem;
  }
  .fiche-bouton {
   margin-left: 32rem;
  }
  /*FONCTIONNEMENT*/
  .aide {
    width: 25%;
    padding: 0;
    margin: 0;
  }
  .aide h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
  }
  .liens h2 {
    font-size: 2rem;
    text-align: center;
  }
  .aide li {
    width: auto;
    height: 5.5rem;
    margin: 4rem 0;
    padding: 2rem 2.5rem;
    position: relative;
  }

  .aide i {
    font-size: 3rem;
    position: absolute;
    top: 3rem;
    left: -0.2rem;
  }
  .aide-txt {
    font-size: 1.5rem;
    position: absolute;
    line-height: 1.5rem;
    top: 5rem;
    left: 2rem;
  }
  .aide-num {
    font-size: 5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    line-height: 6rem;
    position: absolute;
    top: -2rem;
    left: 35%;
  }
  /*RESTAURANTS (liens vers)*/
  .liens {
    width: 70%;
    margin: auto;
  }
  .liens h2 {
    font-size: 3rem;
    text-align: left;
    padding-left: 15rem;
  }
  .liens ul {
    width: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .liens li {
    width: 45%;
  }
  .liens figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /*REGROUPER RESTO ET FONCTIONNEMENT*/
  .principal {
    display: flex;
    flex-direction: row;
  }
  /*fiches restaurants ordi*/
  .fiche-resto_main {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    max-width: 1000px;
  }
  .fiche-resto {
    width: 400px;
    margin: 2rem auto;
    padding-right: 4rem;
    border: 0.2rem solid rgb(151, 150, 150);
    border-radius: 0.2rem;
    box-shadow: 5px 5px 5px rgb(184, 183, 183);
  }
  .fiche-resto img {
    width: 115.5%;
  }
  .plat {
    max-width: 400px;
    margin-right: 3rem;
  }
  .fiche-resto figcaption {
    background-color: var(--backgroundcolorprim);

    border-radius: 0.5rem;

    height: 5rem;
  }
   .plat-description p,
   {
 
    white-space: normal;
  }
  
}
}
/*/*ECRANS MOYENS/*/
@media screen and (min-width: 767px) and (max-width: 1020px) {
  /*spinner*/
  .loading div {
    position: absolute;
    left: 50%;
    top: 12rem;
    animation: loader ease-in-out 1s 4;
    background: #9356dc;
    width: 1.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    transform-origin: 1rem 5.5rem;
  }
  .loading div:nth-child(7) {
    animation: loader ease-in-out 3.2s 1;
    color: #6ba194;
    font-size: 1.5rem;
    text-align: center;

    background: #99e2d0;
    width: 3rem;
    height: auto;
    padding: 0.5rem 0;
    margin: 4.2rem 0 0 -0.5rem;
  }

  /*header*/
  #logo {
    width: 28%;
  }
  /*footer*/

  /*main accueil*/
  .accueil {
    width: 75%;
    margin: auto;
  }
  .recherche i {
    padding-left: 8rem;
  }
  .bouton {
    font-size: 1.3rem;
  }
  /*FONCTIONNEMENT*/
  .aide {
    margin: 0;
  }
  .aide li {
    max-width: 25%;
  }
  .aide h2 {
    text-align: center;
  }
  .aide ul {
    display: flex;
    flex-direction: row;
  }

  .aide i {
    line-height: 2rem;
  }
  .aide-num {
    position: relative;
    top: -0.5rem;
    left: -0.5rem;
  }
  /*RESTAURANTS (liens vers)*/
  .liens h2 {
    text-align: center;
  }
  .liens ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .liens li {
    width: 45%;
  }
  .liens figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .caption i {
    position: relative;
    left: 7rem;
  }
  /*fiches restaurants tablette*/
  .fiche-resto_main {
    max-width: 600px;
    padding: 1.5rem;
    margin: auto;
  }
  .fiche-resto {
    margin: auto;
    border: 0.2rem solid rgb(151, 150, 150);
    border-radius: 0.2rem;
    box-shadow: 5px 5px 5px rgb(184, 183, 183);
  }
  .fiche-resto figcaption {
    background-color: var(--backgroundcolorprim);

    border-radius: 0.5rem;

    height: 5rem;
  }
  .fiche-categorie,
  .fiche-details {
    max-width: 500px;
    margin: auto;
  }
  .plat {
    width: 500px;
    height: 8rem;
  }
  h5 {
    font-size: 2rem;
  }
  .plat-description p {
    font-size: 1.5rem;
    white-space: normal;
  }
}
