:root {
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --backgroundcolorsec: #f4f4f4;
  --backgroundcolorprim: #f8f8f8;
}
* {
  width: auto;
  margin: 0;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem 3.5rem 0.2rem 3.5rem;
}
p {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.2rem 2rem;
}
body {
  background-color: var(--backgroundcolorprim);
}
/*header*/
#logo {
  width: 70%;
}
header p {
  text-align: center;
}
/*loading spinner*/
i {
  font-size: 1rem;
  color: #99e2d0;
  padding-top: 1rem;
  padding-left: 0.3rem;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading div {
  position: absolute;
  left: 52%;
  top: 8rem;
  animation: loader ease-in-out 1s 4;
  background: #9356dc;
  width: 1.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  transform-origin: 1rem 5.5rem;
}
.loading div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -2.2s;
  background: #9356dc;
}
.loading div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -2s;
  background: #a556dc;
}
.loading div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -1.9s;
  background: #a556dc;
}
.loading div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -1.5s;
  background: #ce56dc;
}
.loading div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -1.3s;
  background: #e379dc;
}
.loading div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -1.15s;
  background: #e379ff;
}
.loading div:nth-child(7) {
  animation: loader ease-in-out 3.2s 1;
  color: #6ba194;
  font-size: 1.5rem;
  text-align: center;

  background: #99e2d0;
  width: 3rem;
  height: auto;
  padding: 0.5rem 0;
  margin: 4.1rem 0 0 -0.5rem;
}
.loading div:nth-child(8) {
  transform: rotate(180deg);
  animation-delay: -1s;
  background: #ff79fc;
}
.loading div:nth-child(9) {
  transform: rotate(210deg);
  animation-delay: -0.8s;
  background: #ff79da;
}
.loading div:nth-child(10) {
  transform: rotate(240deg);
  animation-delay: -0.7s;
  background: #9356dc;
}
.loading div:nth-child(11) {
  transform: rotate(270deg);
  animation-delay: -0.4s;
  background: #a556dc;
}
.loading div:nth-child(12) {
  transform: rotate(300deg);
  animation-delay: -0.25s;
  background: #a556dc;
}
.loading div:nth-child(13) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #ce56dc;
}
@keyframes invisible {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-invisible {
  animation: invisible 1.5s linear forwards;
  animation-delay: 4s;
}
/*ACCUEIL*/
/*recherche*/
.accueil {
  background-color: var(--backgroundcolorsec);
  padding-bottom: 1rem;
  border-top: 5px outset #cccccc;
 
}
.recherche {
  display: flex;
 
}
input{
 
  flex: 1;
  border: none;
  background-color: #dcdcdc;
  font-size: 1.3rem;
   padding-left: 2rem;
}

.recherche-icone {
  background-color: #dcdcdc;
  padding-left: 5rem;
}
.recherche i {
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  color: #808080;
}
.recherche :hover {
  background-color: #cccccc;
}
/*explorer*/
.bouton-explorez {
  color: white;
  padding: 1rem 2.2rem;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    var(--secondaire),
    var(--primaire)
  );
  border-radius: 1rem;
}
.bouton-explorez:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--primaire),
    var(--secondaire)
  );
}
/**/
/*média tablette et desktop*/

@media (min-width: 768px) {
  /*spinner*/
  .loading div {
    position: absolute;
    left: 50%;
    top: 12rem;
    animation: loader ease-in-out 1s 4;
    background: #9356dc;
    width: 1.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    transform-origin: 1rem 5.5rem;
  }
  .loading div:nth-child(7) {
    animation: loader ease-in-out 3.2s 1;
    color: #6ba194;
    font-size: 1.5rem;
    text-align: center;

    background: #99e2d0;
    width: 3rem;
    height: auto;
    padding: 0.5rem 0;
    margin: 4.2rem 0 0 -0.5rem;
  }

  /*header*/
  #logo {
    width: 28%;
  }
  /*main accueil*/
  .accueil {
    width: 75%;
    margin: auto;
  }
  .recherche i{
 padding-left: 8rem;
}
